<!-- <summary> -->
<!--    bootstrap modal -->
<!--    update modal -->
<!-- </summary> -->
<div class="modal fade" data-bs-backdrop="static" id="modal_update">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id='update_title' aria-labelledby="modal title">Update expression</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body" aria-describedby="content">
                
                <!-- <summary> -->
                <!--    hidden value from datatable actionned row-->
                <!-- </summary> -->
                <!-- <parameters> -->
                <!--    origine expression id value -->
                <!--    traduction expression id value -->
                <!-- </parameters -->
                <input type="hidden" id="idOrigine_modal_update"></input>
                <input type="hidden" id="idTraduction_modal_update"></input>

                <!-- <summary> -->
                <!--    displayed field with values-->
                <!-- </summary> -->
                <!-- <parameters> -->
                <!--    context expressions value -->
                <!--    origine expression value -->
                <!--    traduction expression value -->
                <!-- </parameters -->
                <label for="context_modal_update">Contexte</label>
                <input type="text" id="context_modal_update" name="context_modal_update" disabled>
                <br>
                <label for="expressionOrigine_modal_update">Expression Française</label>
                <input type="text" id="expressionOrigine_modal_update" name="expressionOrigine_modal_update">
                <br> 
                <label for="expressionTraduction_modal_update">Expression Traduite</label>
                <input type="text" id="expressionTraduction_modal_update" name="expressionTraduction">

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" onclick="closeModalUpdate()">Close</button>
                <button class="btn btn-primary btn_update">Save changes</button>
            </div>
        </div>
    </div>
</div>