<!-- <summary> -->
<!--    bootstrap modal -->
<!--    add image modal -->
<!-- </summary> -->
<div class="modal fade" data-bs-backdrop="static" id="modal_add_image">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id='add_image_title' aria-labelledby="modal title">Add image</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body" aria-describedby="content">
                
                <!-- <summary> -->
                <!--    hidden value from datatable actionned row-->
                <!-- </summary> -->
                <!-- <parameters> -->
                <!--    context expressions id value -->
                <!--    origine expression id value -->
                <!--    traduction expression id value -->
                <!--    image expressions id value -->
                <!-- </parameters -->
                <input type="hidden" id="idContext_modal_add_image">
                <input type="hidden" id="idOrigine_modal_add_image">
                <input type="hidden" id="idTraduction_modal_add_image">
                <input type="hidden" id="idImage_modal_add_image">
                <input type="hidden" id="lienImage_modal_add_image">
                
                <!-- <summary> -->
                <!--    displayed field with values-->
                <!-- </summary> -->
                <!-- <parameters> -->
                <!--    context expressions value -->
                <!--    origine expression value -->
                <!--    traduction expression value -->
                <!--    image expressions if existing, default if not -->
                <!-- </parameters -->
                <input type="text" id="context_modal_add_image" class="center_item" disabled>
                <input type="text" id="expressionOrigine_modal_add_image" class="center_item" disabled>
                <input type="text" id="expressionTraduction_modal_add_image" class="center_item" disabled>
                <img src='' id="image_modal_add_image" class="center_item">
                
                <!-- <summary> -->
                <!--    form used to add image on server and database-->
                <!-- </summary> -->
                <!-- <parameters> -->
                <!--    image_file : file to upload -->
                <!--    image_title : image title used in html -->
                <!--    alt image : alt image text used in html -->
                <!-- </parameters -->
                <form  class="formAlign" action="#" method="post" enctype="multipart/form-data">
                    <label for="image_file">Choisissez une image</label>
                    <input type="file" id="image_file" name="image_file" accept="image/*">
                    <label for="image_title">Nom de l'image</label>
                    <input type="text" id="image_title" name="image_title">
                    <label for="alt_image">Texte si non affiché</label>
                    <input type="text" id="alt_image" name="alt_image">
                </form>
        
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" onclick="CloseModalAddImage()">Close</button>
                <button class="btn btn-danger btn_delete_image">Delete image</button>
                <button class="btn btn-primary btn_add_image">Add image</button>
            </div>
        </div>
    </div>
</div>

<!-- <summary> -->
<!--    bootstrap modal -->
<!--   confirm delete modal -->
<!-- </summary> -->
<div class="modal fade" data-bs-backdrop="static" id="modal_delete_confirmation">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id='add_image_title' aria-labelledby="modal title">Confirm your choice</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body" aria-describedby="content">
                Do you want to delete this image ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="DeleteImage('yes')">Yes</button>
                <button class="btn btn-primary" onclick="DeleteImage('No')">No</button>
            </div>
        </div>
    </div>
</div>
