<!-- <summary> -->
<!--    bootstrap modal -->
<!--    update modal -->
<!-- </summary> -->
<div class="modal fade" data-bs-backdrop="static" id="modal_add_data">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id='add_data_title' aria-labelledby="modal title">Add expression</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body" aria-describedby="content">
                

                <!-- <summary> -->
                <!--    displayed field with values-->
                <!-- </summary> -->
                <!-- <parameters> -->
                <!--    traduction language values -->
                <!--    context expressions values -->
                <!--    origine expression value -->
                <!--    traduction expression value -->
                <!-- </parameters -->
                <label for="traduction_language_modal_add_data">Langue de traduction</label>
                <select name="traduction_language_modal_add_data" id="select_language_tag"></select>
                <br>
                <label for="context_modal_add_data">Contexte</label>
                <select name="context_modal_add_data" id="select_context_tag"></select>
                <br>
                <label for="expressionOrigine_modal_add_data">Expression Française</label>
                <input type="text" id="expressionOrigine_modal_add_data" name="expressionOrigine_modal_add_data">
                <br> 
                <label for="expressionTraduction_modal_add_data">Expression Traduite</label>
                <input type="text" id="expressionTraduction_modal_add_data" name="expressionTraduction">
                <p>Incoming content</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" onclick="closeModalAddData()">Close</button>
                <button class="btn btn-primary btn_add_data">Add data</button>
            </div>
        </div>
    </div>
</div>