/* authentification view */
.authentification_view {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.authentification_window {
    border: 5px solid #5a052f;
    padding:20px;
    border-radius: 20px;
    background:linear-gradient(#820D48, #E1C3FE);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.authentification_label {
    width:70px;
    text-align: start;
    padding-top: 10px;
}

.authentification_input {
    border: 1px solid #5a052f;
}

/* table view */
.container {
    margin-top: 1em;
}

/* all modals */
.id_field {
    width:10px;
}

label {
    margin-top:20px;
    width:150px;
}

/*  modal add image */
.center_item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#image_modal_add_image {
    width: 400px;
}

/*  text */
.text_green {
    color:green;
}

.text_red {
    color:red;
}

.text_white {
    color:rgb(228, 228, 217);
}

.bold {
    font-weight: bolder;
}